.page-container {
    width: 100%;
    height: 100vh;
}
.page-container-padded {
    padding: 1rem;
}
.page-container-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-container-hassidebar {
    margin-left: 240px;
    width: calc(100% - 240px);
}
